.about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 20%;
    padding-top: 50px;
}

.about-page > img {
    border-radius: 24px;
}
