.screener-page {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filter-container {
    width: 250px;
}

.filter-header {
    display:flex;
    justify-content: space-between;
}

.filter-card {
    font-size: smaller;
}
