.create-watchlist {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--white);
    min-width: 251px;
    min-height: 65px;
}
.create-watchlist:hover {
    color: var(--green);
}

.create-watchlist > .watchlist-icon {
    background-color: rgba(0, 200, 5, 0.5);
    color: var(--green);
}

.create-list-dummy {
    width: 18px;
    height: 18px;
    background-color: transparent;
    z-index: -5;
}
.create-watchlist-form > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--white);
    min-width: 251px;
    min-height: 65px;
}

.create-watchlist-form > form > label {
    display: flex;
    font-size: large;
    gap: 5px;
    justify-content: space-between;
}

.create-watchlist-form > form > label > input {
    width: 60%;
    background-color: var(--light-gray);
    color: var(--white);
    border: none;
}

.create-watchlist-form > form > label > input:focus {
    outline: none;
}

.actions {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
}

.actions > button {
    width: 50%;
    font-size: medium;
    padding: 3%;
    border: 1px solid var(--green);
    background-color: transparent;
    color: var(--green);
    border-radius: 25px;
    cursor: pointer;
}
.actions > button:hover {
    opacity: 0.7;
}
.create-watchlist > svg {
    margin: 3px;
}

.hidden {
    display: None;
}

.watchlist-card {
    display: flex;
    cursor: pointer;
}

.watchlist-card:hover {
    opacity: 0.7;
}
.watchlist-card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.watchlist-info-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.watchlist-info-card > svg {
    font-size: xx-large;
}

.watchlist-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add-stock-modal {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 600px;
    color: var(--white);
    background-color: var(--gray);
}

.add-stock-modal > h2 {
    margin: 0;
}

.watchlist-name {
    font-size: large;
}

.watchlist-icon{
    background-color: #30363A;
    width: 48px;
    height: 64px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 10px;
    color: yellow;
}

.watchlist-length {
    font-size: small;
    color: var(--white-gray);
}

.watchlist-card > input[type="checkbox"] {
    width: 18px;
    height: 18px;
    align-self: center;
    outline: 1px solid var(--green);
    accent-color: var(--green);
    border-radius: 4px;
}
.watchlist-card > input:before {
    background-color: var(--green);
}

.save-watchlist {
    font-size: medium;
    padding: 3%;
    border: 1px solid var(--green);
    background-color: transparent;
    color: var(--green);
    border-radius: 25px;
    cursor: pointer;
}

.save-watchlist:hover {
    background-color: rgba(0, 200, 5, 0.5);;
}
