.footer {
    position: absolute;
    top: 100%;
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: space-evenly;
    font-size: xx-large;
    color: var(--white);
}

.footer > a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.footer > a:hover {
    opacity: 0.7;
}
