.dashboard {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
}

.watchlists-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.watchlist {
    border: 1px solid gray
}
.watchlist-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
