.dashboard {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    gap: 10px;
    color: var(--white);
}

.dashboard-left {
    width: 75%;
    margin-top: 2em;
}
.dashboard-right {
    margin-top: 2em;
}

.portfolio-chart {
    width: 100%;
}
.watchlists-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--white);
}

.watchlist {
    border: 1px solid gray
}
.watchlist-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    padding: 5px;
}
table > thead th:nth-child(1) {
    width: 5%;
}
table > thead th {
    width: 10%;
}

table > tbody tr {
    height: 50px;
    border-top: 1px solid var(--light-gray);
    text-align: center;
}

.watchlists-container {
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    height: 100%;
}

.market-snapshot-container {
    display: flex;
    flex-direction: column;
}

.market-snapshot-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.market-snapshot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 5px;
}

.win {
    color: var(--green);
}

.lose {
    color: var(--red);
}
