.order-types {
    display: flex;
}

.order-type-button {
    width: 50%;
    border: 1px solid var(--light-gray);
    display: flex;
    justify-content: center;
    padding: 5%;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
}

.order-type-button:hover {
    opacity: 0.7;
}


.selected {
    color: var(--green);
    border-color: var(--green);
}

.order-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
    margin-bottom: 15px;
    height: 415px;
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--light-gray);
}

.order-info > * {
    margin: 0;
}

.order-info {
    display: flex;
    flex-direction: column;
    font-size: small;
    gap: 5px;
    margin-top: 0;
}
.order-buying-power {
    border-top: 1px solid var(--light-gray);
    text-align: center;
    padding: 20px 0;
}

.quantity-inputs {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;
    font-size: small;
}

.quantity-inputs > label {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

.quantity-inputs > label > input {
    width: 100%;
    font-size: medium;
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
}

.quantity-inputs > label > input:focus {
    outline: none;
}

.quantity-inputs > div {
    width: 30%;
}

.order-value {
    align-self: flex-end;
    margin-bottom: 15px;
    text-align: right;
    font-size: small;
}

.error-funds {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errors {
    margin: 0;
    color: red;
}

.order-form > button {
    align-self: center;
    font-size: small;
    width: 70%;
    border: 1px solid var(--green);
    background-color: transparent;
    color: var(--green);
    display: flex;
    justify-content: center;
    padding: 5%;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 19px;
}

.order-form > button:hover {
    opacity: 0.7;
}

.error-funds > button {
    align-self: center;
    font-size: small;
    width: 70%;
    border: 1px solid var(--red);
    background-color: transparent;
    color: var(--red);
    display: flex;
    justify-content: center;
    padding: 5%;
    border-radius: 25px;
    cursor: pointer;
}

.error-funds > button:hover {
    opacity: 0.7
}

.empty-space {
    min-height: 61px;
}
