/* TODO: Add sitewide styles */
/* CSS HEX */
:root {
    --glaucous: #5F84BAff;
    --lapis-lazuli: #325DA2ff;
    --yale-blue: #1B3B7Eff;
    --pale-dogwood: #D2B6A9ff;
    --raisin-black: #2B272Bff;
}
