/* TODO: Add sitewide styles */
/* CSS HEX */
:root {
    --orange: #E76F00;
    --black: #000000;
    --gray: #1E2124;
    --white: #FFFFFF;
    --green: #00C805;
    --red: #CE1200;
    --light-gray: #40494E;
    --white-gray: #8D9CA2;
    min-width: 1240px;
}

* {
    font-family: "Roboto", sans-serif;
}

* > a:visited {
    color: var(--white);
}

* > a {
    color: var(--white);
    text-decoration: none;
    text-emphasis: none;
}

a.active {
    text-decoration: none;
    text-emphasis: none;
}


html {
    background-color: var(--black);
}

/* mediaquery width 1100 */

::placeholder {
    color: var(--light-gray);
}
