.profile-dropdown {
  display: flex;
  padding: 0px 10px 10px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  right: 3%;
  list-style: none;
  gap: 5px;
  border: 1px solid var(--pale-dogwood);
  z-index: 1;
  background-color: var(--lapis-lazuli);
  width: 200px;
  margin-top: 5px;
}

.profile-dropdown > * {
  background-color: var(--lapis-lazuli);
}

.profile-dropdown > h2 {
  font-size: large;
  padding: 10px 10px 0px 10px;
  border-bottom: var(--pale-dogwood);
  margin-bottom: 0;
}
.profile-dropdown > li {
  font-size: medium;
  padding: 10px 10px 0px 10px;
}

.profile-dropdown > li:hover {
  cursor: pointer;
  opacity: 0.7;
}
.profile-dropdown > li > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.profile-dropdown > li > a > svg {
  background-color: var(--lapis-lazuli);
  font-size: xx-large;
}

.profile-dropdown > * > * {
  background-color: var(--lapis-lazuli);
}


.nav-bar {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 65px;
  max-height: 65px;
  margin: 0;
  padding: 0 2%;
}

.landing-logo {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.kym-cdn.com/entries/icons/original/000/029/959/Screen_Shot_2019-06-05_at_1.26.32_PM.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 15%;
  background-position-y: 15%;
}

.landing-logo > a > h1 {
  margin: 0;
}

.landing-logo:hover {
  opacity: 0.7;
}

.landing-logo > a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.landing-logo > a > h1 {
  background-color: transparent;
}

.profile-button {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.profile-button:hover {
  opacity: 0.7;
}

.logged-out {
  display: flex;
  width: 25%;
  justify-content: flex-end;
  gap: 10px;
}

.logged-out > li {
  display: flex;
  width: 25%;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--pale-dogwood);
  height: 44px;
  width: 102px;
  padding: 0px, 28px;
  border-radius: 24px;
  cursor: pointer;
}

.logged-out > li:hover {
  opacity: 0.7;
}

.log-out {
  background-color: var(--pale-dogwood);
  color: var(--yale-blue);
}
